---
import Divisor from "./Divisor.astro";

import "/src/styles/About.css";
---

<div class="Main__Right__About" id="About">
  <Divisor iconDivisor="person" TextDivisor="SOBRE MÍ" />
  <p class="Main__Right__About--Text">
    Si tienes un proyecto en mente, <b>cuenta conmigo</b>, siempre acepto las
    oportunidades freelance.
  </p>
  <p class="Main__Right__About--SubText">
    Desde que entre al mundo del desarrollo web, he realizado diversos
    proyectos, algunos con fines prácticos y otros de trabajo como freelance. Mi
    tiempo libre lo dedico para seguir aprendiendo sobre el desarrollo web, ya
    sea creando sitios web estáticos o creando aplicaciones web. Por supuesto no
    estoy cerrado a aprender nuevas tecnologías, sin importar que estás sean de
    Frontend o Backend.

    <br />
    <br />
     Fuera del trabajo me encontrarás viendo una buena serie, anime, película, o
    cuidando gatos.
  </p>
</div>
