---
import Divisor from "./Divisor.astro";

import "/src/styles/About.css";
---

<section class="Main__Right__About" id="About">
  <Divisor iconDivisor="person" TextDivisor="SOBRE M칈" />
  <p class="Main__Right__About--Text">
    Si tienes un proyecto en mente, <b>cuenta conmigo</b>, siempre acepto las
    oportunidades freelance.
  </p>
  <p class="Main__Right__About--SubText">
    Desde que entre al mundo del desarrollo web, he realizado diversos
    proyectos, algunos con fines pr치cticos y otros de trabajo como freelance. Mi
    tiempo libre lo dedico para seguir aprendiendo sobre el desarrollo web, ya
    sea creando sitios web est치ticos o creando aplicaciones web.
    <br />
    <br />
    No esta de m치s aclarar que <b
      >estoy completamente dispuesto a aprender nuevas tecnolog칤as.</b
    >
    <br />
    <br />
    Dato innecesario: Fuera del trabajo me encontrar치s en el gimnasio, con amigos
    o cuidando gatos. 游눩
  </p>
</section>
