---
import "../styles/Menu.css";
---

<nav class="Main__Menu">
  <a href="#" class="Main__Menu--Options" id="showMenu">
    <ion-icon name="grid" id="iconMenu"></ion-icon>
  </a>
  <a href="#Introduction" class="Main__Menu--Options">
    <ion-icon name="Home"></ion-icon>
  </a>
  <a href="#About" class="Main__Menu--Options">
    <ion-icon name="Person"></ion-icon>
  </a>
  <a href="#Experience" class="Main__Menu--Options">
    <ion-icon name="School"></ion-icon>
  </a>
  <a href="#Projects" class="Main__Menu--Options">
    <ion-icon name="briefcase"></ion-icon>
  </a>
  <a href="#Abilities" class="Main__Menu--Options">
    <ion-icon name="hammer"></ion-icon>
  </a>
  <a href="#Skills" class="Main__Menu--Options">
    <ion-icon name="logo-javascript"></ion-icon>
  </a>
  <a href="#Contact" class="Main__Menu--Options">
    <ion-icon name="mail"></ion-icon>
  </a>
</nav>

<script>
  let i = 0;
  const menu = document.querySelector(".Main__Menu");
  const showMenuButton = document.querySelector("#showMenu");
  const iconShowMenu = document.querySelector("#iconMenu");
  showMenuButton?.addEventListener("click", () => {
    menu?.classList.toggle("Show");
    if (i === 0) {
      iconShowMenu?.setAttribute("name", "close-circle");
      i++;
    } else {
      iconShowMenu?.setAttribute("name", "grid");
      i--;
    }
  });
</script>
